@font-face {
    font-family:"lato", Arial, Helvetica, sans-serif;
    src: url("../font/Lato-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    font-family: "lato", Arial, Helvetica, sans-serif;
}

/*header*/

header nav a,header form{
    display: none;
    color: white;
    text-decoration: none;   
}
header nav a:first-child{
    display: block;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
header nav a{
    padding: .7rem;
}
header nav a:hover{
    background-color: rgb(135,135,135); 
}
header nav a:visited{
    background-color: rgb(135,135,135); 
}
ul{
    list-style-type: none; 
}
#moreBtn{
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;   
}
#subMenu{
    position: absolute;
    top: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#subMenu li{
    color: black;
}
.hide{
    height: 0;

}
#slider{
    height: 30vh;
    background-image: url("../img/la.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
#slider p{
   display: none;
}
.burger{
    padding: .7rem;
}
/*section band*/
#band{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0.5rem;
}
#band p{
    margin: 1.2rem auto;
}
#group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
#band figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: xx-large;
}
#band figcaption{
    padding-bottom: 1rem;
    box-sizing: border-box;
}
#band img{
    padding-bottom: 1rem;
    border-radius: 2.5%;
    width: 100%;
}
.blur{
    font-weight: lighter;
    font-style: italic;
}
/*section tourdate*/
#tourdate{
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}
#tourdate h2{
    color:white;
    padding-top:  4rem;

}
#tourdate>p{
    color: grey;
    font-style: italic;   
}
#tourdate p{
    color: grey;
}
.soldout{
    background-color: red;
    color: white;
    margin-left: 0.5rem;
}
.numbers{
    background-color: black;
    border-radius: 50%;
    padding: .1rem .2rem;
    color: white;
}
#calendar{
    background-color: white;
    width: 90%;
    margin-bottom: 2rem;
}
#calendar p{
    border-bottom: 0.1rem black solid;
    padding-left: 1rem;
    padding: .5rem;
}
#calendar p:last-child{
    display: flex;
    justify-content: space-between;
}
#card{
    width:95%;
    background-color: black;
    margin-bottom: 0.5rem;
}
#card img{
    width: 100%;
}
#card button{
    background-color: black;
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.7rem;
    margin-left: 0.5rem;
    font-size: larger;
    border: none;
    
}
#card p, #card h3{
    padding: 0.5rem;
}
.espace{
    background-color: white;
    border-bottom: .8rem black solid;
}
/*section contact*/
#contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    height: 110vh;
}
#contact img{
    width:100%;
    padding: 1rem 0;
}
#contact form{
    display: flex;
    flex-direction: column;
    width: 97%;
    padding: 2rem auto;
     
}
#poshtrois{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 1.5rem;
}
#contact button{
    width:15%;
    background-color: black;
    color: white;
    padding: .2rem .6rem;
}
.button{
    display: flex;
    justify-content: flex-end;
}
#contact h2{
    font-size: 3rem;
    font-weight: 100;
    font-style: normal;
    letter-spacing: .2rem;
}
#contact input{
    padding: .5rem;
}
#contact form>input:last-of-type{
    margin: .4rem 0;
margin-bottom: 1rem;
}
/*footer*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div{
    font-size: 1.8rem;
}
/*responsive*/

@media screen and (min-width:576px) {
    
    header nav a{
        display: flex;
        color: white;
        text-decoration: none;}
    header ul{
        display: flex;
    }
    .burger{
        display: none;
    }
    header form{
        display: flex;
        background-color: black;
        border:none;
        color: white;
        text-decoration: none
    }
    header input{
        background-color: black;
        color: white;
        border: none;
        margin-right: 1rem;
    }
    header button{
        background-color: black;
        color: white;
        border: none;
        padding-right: 1.5rem;
    }
    #slider p{
        display: flex;
        color: white;
        padding:1rem;
        margin-bottom: 1.5rem;
        font-weight: 600;
    }
    #slider p:first-of-type{
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }
    #slider{
        height: 70vh;
    }
    /*section band*/
    #group{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
    }
    #group figure{
        width: 30%;
    }
    #band p{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    #band{
        margin-bottom: 5rem;
    }
    /*section tourdate*/
    #tourdate{
        height:80vh;
    }
    #tourdate h2{
        padding: 1.5rem;
    }
    #tourdate>p:first-of-type{
        padding-bottom: 2rem;
    }
    #card{
        display: flex;
        width: 70%;
        justify-content: space-between;
        height: 40vh;
    }
    #calendar{
        width: 70%;
    }
    .espace{
        width: 30%;
    }
    .espace p{
        word-wrap: break-word;
    }
    /*section contact*/
    #contact h2{
        margin-top: 4rem ;
    }
    .flexcontact{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40vh;
        width: 100%;
        margin: .5rem auto;
    }
    #poshtrois{
        width: 40%;
        display: flex;
        padding: .5rem 3rem;
        font-size: 1.5rem;
    }
    #poshtrois i{
         margin-right: .5rem;    
    }
    #flexinput{
        display: flex;
       justify-content: space-between;
       
    }
    #contact form{
        width: 40%;
    }
    #contact>p:first-of-type{
        font-style: italic;
        font-weight: 200;
        font-size: 1rem;
        padding-top: 1.5rem;
    }
    #contact img{
        margin-bottom: 3rem;
    }
}
/*fin*/
